@model MockUp.ViewModel.ExamenViewModel

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Examen</title>
    <link rel="stylesheet" href="~/css/examen.css">
</head>
<body>
    <header>
        <h1>EXAMEN</h1>
    </header>

    <div class="container">
        @{
            int? currentIdPregunta = null;
            var correctas = new Dictionary<int, int>(); // Cambiado a diccionario para mapear preguntas y sus respuestas correctas
        }

        @foreach (var examen in Model.Examen)
        {
            if (examen.IdPregunta != currentIdPregunta)
            {
                if (currentIdPregunta != null)
                {
                    @:</section>
                }

                currentIdPregunta = examen.IdPregunta;

                @:<section id="p@examen.IdPregunta">
                @:<h3>@examen.IdPregunta - @examen.DescPregunta</h3>
            }

            @:<label class="opcion" data-pregunta="@examen.IdPregunta">
            @:<input type='radio' value='@examen.IdOpcion' name='@examen.IdPregunta' data-correcta='@examen.EsCorrecta' onclick='respuesta(@examen.IdPregunta, this)' />@examen.DescRespuesta
            @:</label>
            
            if (examen.EsCorrecta)
            {
                correctas[examen.IdPregunta] = examen.IdOpcion; // Almacena la respuesta correcta para cada pregunta
            }
        }

        @if (currentIdPregunta != null)
        {
            @:</section>
        }

        <button onclick="corregir()">CORREGIR</button>
        <h2>Cantidad acertadas: <span id="resultado"></span></h2>
    </div>

    <script>
        let correctas = @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(correctas));
        let opcion_elegida = {};
        let cantidad_correctas = 0;

        function respuesta(num_pregunta, seleccionada) {
            opcion_elegida[num_pregunta] = parseInt(seleccionada.value);

            let id = "p" + num_pregunta;
            let labels = document.getElementById(id).getElementsByTagName('label');
            for (let i = 0; i < labels.length; i++) {
                labels[i].style.backgroundColor = "white";
            }

            seleccionada.parentNode.style.backgroundColor = "#cec0fc";
        }

        function corregir() {
            cantidad_correctas = 0;
            for (let pregunta in opcion_elegida) {
                if (opcion_elegida.hasOwnProperty(pregunta)) {
                    let seleccionada = opcion_elegida[pregunta];
                    if (correctas[pregunta] === seleccionada) { // Verificar con la respuesta correcta específica para cada pregunta
                        cantidad_correctas++;
                    }
                }
            }

            document.getElementById("resultado").innerHTML = cantidad_correctas;
        }
    </script>
</body>
</html>
