@model MockUp.Models.Pregunta
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="~/css/tabla.css">
    <link rel="stylesheet" href="~/css/modalDeSuccess.css">
</head>

<body style="background-color:#cee4fc">
    <nav class="bg-gray-800">
        <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
            <div class="relative flex h-16 items-center justify-between">
                <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
                    <!-- Mobile menu button-->
                    <button type="button" class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
                        <span class="absolute -inset-0.5"></span>
                        <span class="sr-only">Open main menu</span>
                        <svg class="block h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
                        </svg>
                        <svg class="hidden h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
                <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
                    <div class="flex flex-shrink-0 items-center">
                        <img class="h-8 w-auto" src="@Url.Content("~/imagenes/estrellarecortada.png")" alt="Your Company">
                    </div>
                    <div class="hidden sm:ml-6 sm:block">
                        <div class="flex space-x-4">
                            <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white rounded-md px-3 py-2 text-sm font-medium" onclick="window.location.href='@Url.Action("MisAlumnos", "MisAlumnos")'">Mis Alumnos</a>
                            <a href="#" class="bg-gray-900 text-white rounded-md px-3 py-2 text-sm font-medium" aria-current="page" onclick="window.location='/Cuestionario'">Temas(Respuestas)</a>
                            
                        </div>
                    </div>
                </div>
                <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
                    <button type="button" class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
                        <span class="absolute -inset-1.5"></span>
                        <span class="sr-only">View notifications</span>
                        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
                        </svg>
                    </button>
                    <div class="relative ml-3">
                        <div>
                            <button type="button" class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800" id="user-menu-button" aria-expanded="false" aria-haspopup="true">
                                <span class="absolute -inset-1.5"></span>
                                <span class="sr-only">Open user menu</span>
                                <img class="h-8 w-8 rounded-full" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
                            </button>
                        </div>
                        <div id="user-menu" class="absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none hidden" role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-0">Your Profile</a>
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-1">Settings</a>
                            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1" id="user-menu-item-2" onclick="window.location.href='@Url.Action("LogOut", "Home")'">Sign out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sm:hidden" id="mobile-menu">
            <div class="space-y-1 px-2 pb-3 pt-2">
                <a href="#" class="bg-gray-900 text-white block rounded-md px-3 py-2 text-base font-medium" onclick="window.location.href='@Url.Action("MisAlumnos", "MisAlumnos")'">MisAlumnos</a>
                <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium" aria-current="page" onclick="window.location='/Cuestionario'">Tema(Respuestas)</a>
                <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Projects</a>
                <a href="#" class="text-gray-300 hover:bg-gray-700 hover:text-white block rounded-md px-3 py-2 text-base font-medium">Calendar</a>
            </div>
        </div>
    </nav>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
            const menuButton = document.getElementById('user-menu-button');
            const userMenu = document.getElementById('user-menu');

            menuButton.addEventListener('click', () => {
                const isExpanded = menuButton.getAttribute('aria-expanded') === 'true';
                menuButton.setAttribute('aria-expanded', !isExpanded);
                userMenu.classList.toggle('hidden');
            });

            document.addEventListener('click', (event) => {
                if (!menuButton.contains(event.target) && !userMenu.contains(event.target)) {
                    userMenu.classList.add('hidden');
                    menuButton.setAttribute('aria-expanded', 'false');
                }
            });
        });
    </script>
    @Html.Partial("../ChatBot")


    <div class="contenedor">
        <form id="editForm" method="post" action="@Url.Action("ModificarPreguntasYRespuestas", "ObservarRespuestas")">
            <div class="mb-6" style="margin: 10px 70px 70px; margin-top:50px">
                <label for="validationCustom03" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black">Pregunta</label>
                <input type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" value="@Model.DescPregunta" name="descPregunta" id="validationCustom03" placeholder="@Model.DescPregunta" required>
                <input type="hidden" value="@Model.IdPregunta" name="idPregunta" />
                <input type="hidden" value="@Model.IdPrueba" name="idPrueba" id="idPrueba" />
            </div>
            <div class="column" style="background-color:#cee4fc;flex-grow: 1">
                @{
                    int contador = 1;
                }
            <div class="table-wrapper">
                <div class="contenido_tabla" style="box-shadow: none !important;">
                    <label for="validationCustom03" class="block mb-2 text-sm font-medium text-gray-900 dark:text-black" style="box-shadow: none !important;">Respuesta</label>
                </div>
                    <table class="fl-table">
                        <thead>
                            <tr>
                                <th>Descripcion</th>
                                <th>Es correcta</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Respuestas)
                            {
                                <tr scope="row">
                                    <td>
                                        <input type="text" value="@item.TextoOpcion" style="width:100%" name="respuesta@(contador)" />
                                    </td>
                                    <td>
                                        <input type="checkbox" value="1" @(item.EsCorrecta ? "checked" : "") name="respuestaCorrecta@(contador)" />
                                    </td>
                                </tr>
                                contador++;
                            }
                        </tbody>
                    </table>
                    <button type="button" class="btn btn-success" style="float:right; margin-top: 20px;" onclick="openPopup()">Guardar</button>
                    
                        <div class="popup" id="popup">
                            <img src="~/imagenes/404-tick.png" alt="Palomita de guardado">
                            <h2>Listo</h2>
                            <p>Se guardaron sus cambios</p>
                            <button type="button" onclick="submitForm()">OK</button>
                        </div>
                               
                
            </div>
        </form>
        @section scripts {
            <script src="@Url.Content("~/js/ChatBot/Chatbot.js")"></script>
        }
    </div>
    <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("PreguntasExamen", "PreguntasExamen", new{ idTema=Model.IdTema, nombreTema=Model.NombreTema})'" style="margin: 10px 70px 10px">Regresar</button>
    <script>
        let popup = document.getElementById("popup");

        function openPopup() {
            popup.classList.add("open-popup");
        }

        function closePopup() {
            popup.classList.remove("open-popup");
        }

        function submitForm() {
            closePopup();
            document.getElementById('editForm').submit();
        }
    </script>
</body>
